<header class="bs-docs-nav navbar navbar-static-top navbar-inverse" id="top">
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="bs-navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#bs-navbar" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>

            <a href="./" class="navbar-brand">Alged</a>

        </div>

        <nav class="navbar-collapse collapse" id="bs-navbar" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li>
                    <a href="Downloads/Colections.rar" id="Colections" onclick="ActionClick(id)">
                        DownloadCodes
                    </a>

                </li>

                <li>
                    <a href="#" id="Codes" onclick="ActionClick(id)">
                        Codes
                    </a>

                </li>


                <li>
                    <a href="#" id="About" onclick="ActionClick(id)">
                        About
                    </a>

                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">
                        Item
                    </a>

                </li>


            </ul>

        </nav>

    </div>

</header>